<div class ="team-list" id="team_<%=team.id%>">
 <div class= "boxin1"><%= team.name %></div>
 <div class= "boxin2"><%= team.win %></div>
 <div class= "boxin2"><%= team.loss %></div>
 <div class= "boxin2"><%= team.tie %></div>
 <div class= "boxin2">
    <% total_games = team.win.to_i + team.loss.to_i + team.tie.to_i %>
    <% if total_games == 0 %>
     <%= "N/A" %>
    <% else %>
     <%= (team.win.to_i/(total_games).to_f*100).round(2) %><%="%"%>
    <% end %>
 </div>
 
<% if @scoreboard.user == current_user %> 
 <span class= "boxin3"><%= link_to "Edit", edit_scoreboard_team_path(@scoreboard, team), :data => {:disable_with => "..."}, remote: true, class: "btn btn-primary" %> </span>
 <span class= "boxin3"><%= link_to "Del", scoreboard_team_path(@scoreboard, team), :data => {:disable_with => "..."}, remote: true, method: :delete, class: "btn btn-primary" %> </span>
<% end %>                                                                                                                             

</div>
  
   
   
   
   
   
   
