<% @team_members.each do |member| %>
    <div class="row team-member-div" id="member_<%=member.id%>">
        <div class="col-sm-8 col-xs-12 team-member-name">
            <%= link_to member.name, user_path(member.id) %>
             <% if @team.captains.include?(member) %>
               (Capt.)
             <% end %>
           <span class="links pull-right">
               <%= link_to new_user_conversation_path(member) do %>
                   <i class="fa fa-envelope member-msg" aria-hidden="true"></i>
               <% end %> 
               
               <% if (manager_or_owner?(@scoreboard, current_user))||(current_user == @captain) %>
                   <% if @team.captains.include?(member) %>
                       <%= link_to(scoreboard_team_team_member_path(@scoreboard, @team, member), method: :delete, data: {confirm: "Remove Captain from Team? This team will no longer have a captain."}) do %>
                       <i class="fa fa-times-circle member-del" aria-hidden="true"></i> 
                     <% end %>
                  <% else %>
                     <%= link_to(scoreboard_team_team_member_path(@scoreboard, @team, member), method: :delete, data: {confirm: "Remove This Member?"}) do %>
                       <i class="fa fa-times-circle member-del" aria-hidden="true"></i> 
                     <% end %>
                  <% end %>
              <% end %>
           </span>
        </div>
    </div>
<% end %>