<div class= "comment-reply-form">
<%= form_for [scoreboard, comment] do |f| %> 
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.text_area :body, class: "comment-field" %>
        <%= f.hidden_field :parent_id %>   
        <%= f.submit "Reply", class: " comment-button btn btn-primary" %>
<% end %>
</div>