<li class="convo-div clearfix">
   <div class="convo-labels">
     <div class="convo-subject">
       Subject: <%= link_to conversation.subject, conversation_path(conversation) %>
     </div>
     
     <div class="convo-partner">
        Conversation with: <%= link_to conversation.recipients.first.name, user_path(conversation.recipients.first) %>
     </div>
   </div>
   
   
   <div class="convo-buttons">
       <% if conversation.is_trashed?(current_user) %>
            <%= link_to 'Restore', restore_conversation_path(conversation), class: 'btn-s btn-full', method: :post %>
       <% else %>
            <%= link_to 'Move to trash', conversation_path(conversation), class: 'btn-s btn-full', method: :delete,
                  data: {confirm: 'Are you sure?'} %>
                  
           <% if conversation.is_unread?(current_user) %>
                  <%= link_to 'Mark as read', mark_as_read_conversation_path(conversation),
                  class: 'btn-s btn-full read-btn', method: :post %>
          <% end %>
      
      <% end %>
   </div>
  
</li>