<div class="score-contain">
      <h1 class="score-header-form"></h1>
      <div class="score-form">
         
        <h2>Create New Topic</h2>
          
         <%= form_for [@scoreboard, @topic] do |f| %>
         
         <%= render 'shared/error_messages', object: f.object %>
        
        <%= f.label :subject %>
        <%= f.text_field :subject, class: "form-control"  %>
              
         <%= f.submit "Create", :data => {:disable_with => "Creating Event..."}, class: "btn btn-primary" %>
         
         <% end %>
    
      </div>
  </div>
</div>