<% @followed_scoreboards.each do |followed| %> 

 <div class="row followed-div">
  <div class="col-xs-10 followed-content">
    <%= link_to scoreboard_path(followed) do %>
     <div class="score-name">
       <%= followed.name_of_scoreboard %>
     </div>
    <% end %>
     <div class="score-org">
       Organization: <%= followed.name_of_organization %>
     </div>
     <div class="score-activity">
      Activity/Club: <%= followed.name_of_activity %>
     </div>
     <div class="score-location">
      Location: <%= followed.location %>
     </div>
  </div>
 </div>

<% end %> 
