
<% @owned_scoreboards.each do |owned| %>
 <div class="owned-board-div clearfix">
  <div class="owned-label-group">
      <div class="owned-name-label"> Name: <%= link_to owned.name_of_scoreboard , scoreboard_path(owned) %> </div>
      <div class="owned-organization-label"> Organization: <%= owned.name_of_organization %></div>
      <div class="owned-sport-label"> Sport/Activity: <%= owned.name_of_activity %></div>
  </div>
  <div class="owned-button-group">
      <div> <%= link_to "Edit", edit_scoreboard_path(owned), class: "btn-s btn-full" %> </div>
      <div> <%= link_to "Del", owned,  method: :delete, data: { confirm: "Are you sure you want to delete the scoreboard."}, class: "btn-s btn-full bottom-button" %></div>
  </div>
 </div>
<% end %>

<div class="owned-pages">
<%= will_paginate @owned_scoreboards, :param_name => 'owned_page',inner_window: 1, outer_window: 1 %>
</div>