<h2 class="admin-page-header">
    ADMIN SETTINGS
</h2>

<%= link_to "Back to Profile", scoreboard_path(@scoreboard), class: "btn btn-primary" %>

<% if @admins.any? %>
    <div class="row">
        <div class="col-xs-12 col-sm-6 admin-current-header">
            CURRENT ADMINS
        </div>
    </div>
    
    <div class="row admin-list">
        <%= render "adminlist" %>
    </div>
<% end %>

<%= form_tag(admins_scoreboard_path, :method => "get", id: "admin-search-form", autocomplete: "off") do %>
<div class="row new-admin-field">
    <div class="col-xs-12 col-sm-6">
        <%= text_field_tag :search, params[:search], placeholder: "Filter Members by Name",maxlength: 30, class:"form-control" %>
    </div>
</div>
<% end %>

<div class="row">
        <div class="col-xs-12 col-sm-6 admin-select-header">
            SELECT ADMIN FROM MEMBERS
        </div>
</div>

<div class="admin-org-list">
    <%= render "selectadmin" %>
</div>