<div class= "my-score-contain">
</div>

<div class="my-score-display">
  <div id="scoreindexbutton">
     <span class="button-my-score btn btn-primary"> My Scoreboards</span>
  </div>
  
  <div id="followingindexbutton">
     <span class="button-follow btn btn-primary"> Following</span>
  </div>
 
</div>

<div class="the-display">

<div id="showindex">
<% if @scoreboards.empty? == true %>
   <%= link_to "Create New scoreboard", new_scoreboard_path %>
<% else %>
    <% @scoreboards.each do |scoreboard| %>
       <%= div_for scoreboard, :class => "inner-disp" do %>
        <p> Name:              <%= scoreboard.name_of_scoreboard %> </br>
        Organization:      <%= scoreboard.name_of_organization %></br>
        Sport:             <%= scoreboard.name_of_activity %> </br>
        Location: <%= scoreboard.cities %> <%= scoreboard.states%>, <%= scoreboard.country %></br>
        </p>
        <% if scoreboard.user == current_user %>
          <%= link_to "View", scoreboard_path(scoreboard), class: 'btn btn-primary my-view' %>
          <%# link_to "View", scoreboard_path(@scoreboard, :id=> scoreboard.id), class: 'btn btn-primary my-view' %>
          <%= link_to "Edit", edit_scoreboard_path(@scoreboard, :id => scoreboard.id), class: 'btn btn-primary my-edit' %>
          <%= link_to "Delete", scoreboard,  method: :delete, data: { confirm: "Are you sure you want to delete the scoreboard."}, class: 'btn btn-primary my-del' %>
        <% else %>
          <%= link_to "View", scoreboard_path(@scoreboard, :id=> scoreboard.id), class: 'btn btn-primary my-view' %>
        <% end %>
      <% end %>
    <% end %>
 <% end %>
</div>
     
<div class="showfollow">
    <p> Following scoreboard count: <%= current_user.favourite_scoreboards.count %> </p> 
     <% current_user.favourite_scoreboards.each do |favourite| %> 
     <%= link_to "#{favourite.name_of_scoreboard}", scoreboard_path(favourite) %> <br></br>
     <% end %>
 </div>

</div>

 
    
    

      

