<h3> Name: <%= @scoreboard.name_of_scoreboard %> </h3>

<!--GO BACK TO MY SCOREBOARDS PAGE BUTTON -->
<br>
<%= link_to " Back to My Scoreboards", scoreboards_path , class: 'btn btn-primary back-my-score' %>

<!--THE DIV FOR THE PROFILE PICTURE -->
<br>
     <div>
       <% if @picture.picture.url.present? %>
         <div id="pictureplacement">
           <%= image_tag @picture.picture.url %>
         </div>
        <% else %>
           <%= render 'pictures/uploadphoto' %>
        <% end %>  
     </div>
     
<!--THE DELETE/EDIT BUTTON FOR THE PROFILE PICTURE -->
<br>
<div>
<%= render 'pictures/editphoto' %>
<%= link_to "Delete Photo", [@pictureable, @picture], method: :delete, data: {confirm: "Are you sure you want to delete your picture!"}, class: "btn btn-primary" %>
</div>
<br>


<!--THE FOLLOW AND INVITE BUTTONS -->
<div>
 <% if current_user.favourite_scoreboards.include?(@scoreboard) %>
  <%= link_to "unfollow", favourite_scoreboard_path(@scoreboard, type: "unfavourite"), method: :delete, class: 'btn btn-primary' %>
 <% else %>
  <%= link_to "follow", favourite_scoreboard_path(@scoreboard, type: "favourite"), method: :post, class: 'btn btn-primary' %>
 <% end %>

 <% if @scoreboard.user == current_user %>
 <%= link_to "Invite", new_invitation_path(scoreboard_id: @scoreboard.id), class: 'btn btn-primary' %>
 <% end %>
</div>

<br> 

<!--THE SCOREBOARD STATUS -->
<h3> STATUS</h3>
<div>
 
 <% if @scoreboard.user %>
<div>
 <%= render 'statusedit' %>
</div>
<% end %>

<% if @scoreboard.status.content.present? && @scoreboard.user != current_user %>
<div>
 <%= @scoreboard.status.content %>
 </div>
<% end %>

<% if @scoreboard.status.content.present? == false && @scoreboard.user != current_user %>
<div>
 <p>No status</p>
 </div>
<% end %>

</div>

<!--THE BIO OF THE SCOREBOARD -->
<br>
<div>
 <h4>ADMIN: <%= link_to "#{@scoreboard.user.name}", user_path(@scoreboard.user) %> </h4>
 <h4>ORGANIZATION: <%=@scoreboard.name_of_organization %> </h4>
 <h4>SPORT/ACTIVITY: <%=@scoreboard.name_of_activity %></h4>
 <h4>LOCATION: <%= @scoreboard.cities %> <%= @scoreboard.states%>, <%= @scoreboard.country %> </h4>
</div>

<!--THE FOLLOWER LIST -->
<br>
<div class>
  <%= render 'followingmodal' %>
    
  <%= render 'pictures/editphoto' %>
    
   <%= social_share_button_tag %>
   
   <% if @scoreboard.private == true %>
     <%= link_to "public", unprivate_path, :method => "patch" %>
   <% else %>
      <%= link_to "private", private_path, :method => 'patch' %>
   <% end %>
    
</div>





 











































































































































































































































































































































































































