<h3> Name: <%= @scoreboard.name_of_scoreboard %> </h3>

<!--GO BACK TO MY SCOREBOARDS PAGE BUTTON -->
<br>
<%= link_to " Back to My Scoreboards", scoreboards_path , class: 'btn btn-primary back-my-score' %>

<!--THE DIV FOR THE PROFILE PICTURE -->
<br>
     <div>
       <% if @picture.picture.url.present? %>
         <div id="pictureplacement">
           <%= image_tag @picture.picture.url %>
         </div>
        <% else %>
           <%= render 'pictures/uploadphoto' %>
        <% end %>  
     </div>
     
<!--THE DELETE/EDIT BUTTON FOR THE PROFILE PICTURE -->
<br>
<div>
<%= render 'pictures/editphoto' %>
<%= link_to "Delete Photo", [@pictureable, @picture], method: :delete, data: {confirm: "Are you sure you want to delete your picture!"}, class: "btn btn-primary" %>
</div>
<br>


<!--THE FOLLOW AND INVITE BUTTONS -->
<div>
 <% if current_user.favourite_scoreboards.include?(@scoreboard) %>
  <%= link_to "unfollow", favourite_scoreboard_path(@scoreboard, type: "unfavourite"), method: :delete, class: 'btn btn-primary' %>
 <% else %>
  <%= link_to "follow", favourite_scoreboard_path(@scoreboard, type: "favourite"), method: :post, class: 'btn btn-primary' %>
 <% end %>

 <% if @scoreboard.user == current_user %>
 <%= link_to "Invite", new_invitation_path(scoreboard_id: @scoreboard.id), class: 'btn btn-primary' %>
 <% end %>
</div>

<br> 

<!--THE SCOREBOARD STATUS -->
<h3> STATUS</h3>
<div>
 
 <% if @scoreboard.user %>
<div>
 <%= render 'statusedit' %>
</div>
<% end %>

<% if @scoreboard.status.content.present? && @scoreboard.user != current_user %>
<div>
 <%= @scoreboard.status.content %>
 </div>
<% end %>

<% if @scoreboard.status.content.present? == false && @scoreboard.user != current_user %>
<div>
 <p>No status</p>
 </div>
<% end %>

</div>

<!--THE BIO OF THE SCOREBOARD -->
<br>
<div>
 <h4>ADMIN: <%= link_to "#{@scoreboard.user.name}", user_path(@scoreboard.user) %> </h4>
 <h4>ORGANIZATION: <%=@scoreboard.name_of_organization %> </h4>
 <h4>SPORT/ACTIVITY: <%=@scoreboard.name_of_activity %></h4>
 <h4>LOCATION: <%= @scoreboard.cities %> <%= @scoreboard.states%>, <%= @scoreboard.country %> </h4>
</div>

<!--THE FOLLOWER LIST -->
<br>
<div class>
  <%= render 'followingmodal' %>
    
  <%= render 'pictures/editphoto' %>
    
   <%= social_share_button_tag %>
</div> 

<!--BELOW IS THE CODE FOR THE PRIVATE/PUBLIC AND REQUESTED FEATURE(AUTOMATIC FAVOURITING SCOREBOARDS)-->

<!-- ONLY the ADMIN of the scoreboard can toggle between private and public -->
<% if @scoreboard.user == current_user %> 
<p>Private/Public</p>
  <% if @scoreboard.privatization == true %>
     <%= link_to "public", unprivate_path(:id => @scoreboard.id), :method => 'put' %> 
<% else %>
     <%= link_to "private", private_path(:id => @scoreboard.id), :method => 'put' %>
  <% end %>
<% end %>

<br></br>

<% if @scoreboard.privatization == true %> <!--The private/public and request code is in between the privatization code-->

 <!-- @request are all the specific requests made for that scoreboard as an array []-->
<% if @scoreboard.user == current_user %>
   <p>Pending notifications for users who have requested to be a part of the scoreboard:</p>
    <% @scoreboard.pending_requests.each do |user| %>
       <%= user.name %>
       <%= link_to "Accept", request_to_join_accept_path(:scoreboard_id => @scoreboard.id, :user_id => user.id), :method => 'put' %> |
       <%= link_to "Decline", request_to_join_delete_path(:scoreboard_id => @scoreboard.id, :user_id => user.id), :method => 'delete' %>
    <% end %>
     <% if current_user == @scoreboard.user %>
        <% @scoreboard.accepted_requests.each do |user| %>
         <%= user.name %>
         <!--the block validates for uniqueness and makes the scoreboard part of the user's favourite scoreboard array-->
          <% if user.favourite_scoreboards.include?(@scoreboard) == false %>
             <% user.favourite_scoreboards << @scoreboard %>
          <% end %>
         <p>Approved</p>
     <% end %>
 <% end %>
<% end %>
<br></br>

<!--The request to join ELSE statement only runs if sent_requests array DOESN'T include @scoreboard -->
<% if current_user.sent_requests.include?(@scoreboard) %> 
  <% if @scoreboard.accepted_requests.include?(current_user) %>
    <p>Request is Approved</p>
  <% end %>
  <% if @scoreboard.pending_requests.include?(current_user) %>
    <p>Request is Pending</p>
  <% end %>
<% else %> <!--the else statement runs saying that if the array doesn't include the scoreboard but its private -->
  <% if @scoreboard.privatization == true && @scoreboard.user != current_user  %>
    <%= link_to "Request to join", request_to_join_path(:scoreboard_id => @scoreboard.id), :method => "post" %>
  <% end %>
<% end %>

<!--The scoreboards that you have sent the requests to as an array [] only available, only available to the CURRENT USER-->
<% if current_user %>
 <p>The scoreboards you have sent the requests to:</p> 
  <% current_user.sent_requests.each do |scoreboard| %>
   <%= scoreboard.name_of_scoreboard %>
 <% end %>
<% end %>
<br></br>

<!--The users that have requested to be a part of that scoreboard as an array [], only avaiable to the ADMIN of the scoreboard -->
<% if current_user == @scoreboard.user %>
 <p>Users who have requested to be a part of this scorebaord:</p>
  <% @scoreboard.requested_by.each do |user| %>
  <%= user.name %>
 <% end %>
<% end %>
<% end %>

<!--this makes the user a follower automatically if they requested to join but the scoreboard was made public-->
<% if @scoreboard.pending_requests.any? %> 
 <% if @scoreboard.privatization == false %>
   <% @scoreboard.pending_requests.each do |user| %>
    <% if user.favourite_scoreboards.include?(@scoreboard) == false %>
      <% user.favourite_scoreboards << @scoreboard %>
    <% end %>
  <% end %>
 <% end %>
<% end %>






































































































































































































































































































































































































