<% provide(:title, "Edit User") %>

<h2 class="generic-header">UPDATE YOUR SETTINGS</h2>

<div class="row">
    <div class= "col-sm-6">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
      
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, maxlength: 50, class: "form-control", placeholder: "First and last name" %>
        </div>
        
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, maxlength: 255, class: "form-control", placeholder: "Enter a valid email address" %>
        </div>
        
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control", placeholder: "Must be atleast 6 characters" %>
        </div>
        
        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      
         <%= f.submit "Save changes", :data => {:disable_with => "Updating..."}, class: "btn btn-primary form-control" %>
    <% end %>
  </div>
</div>

