<% provide(:title, @user.name) %>

<section class="user-profile">
    <div class="row">
        <h2><%= @user.name %></h2>
    </div>
    
    <div class="row">
        <div class="col span-1-of-3">
            
            <div class="prof-pic">
                <% if @picture.picture.url.present? %>
                   <%= image_tag @picture.picture.url, class: "user-prof" %>
                <% else %>
                   <%= image_tag("blank-prof.jpg", class: "user-prof") %>
                <% end %>  
            </div>
                
            <div class="prof-buttons">
                <% if current_user != @user %>
                   <%= link_to "Message", "#", class: "btn-s btn-full user-message" %>
                <% end %>
    
                <% if current_user==@user %>
                    <% if @picture.picture.url.present? %>
                        <%= render 'pictures/editphoto' %>
                        <%= link_to "Del Pic", [@pictureable, @picture], method: :delete, data: {confirm: "Are you sure you want to delete your picture!"}, class: "user-del-photo btn-s btn-full" %>
                    <% else %>
                        <%= render "pictures/uploadphoto" %>
                    <% end %>
                <% end %>
             </div>
        </div>
        
        <div class="col span-1-of-3 box user-owns">
            <h3> Scoreboards <%= @user.name %> owns: </h3>
            
            <% if @owned_scoreboards.any? %>
                  <%= render "userown" %>
            <% else %>
                 <p>
                     <%= @user.name %> does not own any Scoreboards.
                 <p>
            <% end %>
            
        </div>
        
        <div class="col span-1-of-3 box user-follows">
            <h3> Scoreboards <%= @user.name %> follows:</h3>
            
            <% if @followed_scoreboards.any? %>
                  <%= render "userfollow" %>
            <% else %>
                  <p>
                      <%= @user.name %> does not follow any Scoreboards.
                  </p>
            <% end %>
        </div>
    </div>
</section>


<!--Below is the Modal to Message User -->
<div class="modal">
    <div class="modal-dialog">
          <div class="modal-content">
           
             <div class="modal-header">
              
             </div>
             
             <div class="modal-body">
                
             </div>
             
             <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             </div>
             
          </div>
    </div>
</div>


     
     

     











