<% provide(:title, @user.name) %>

<h3 class="user-prof-header">
    <%= @user.name %>
</h3>

<div class="row user-prof">
    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
         <% if @user.picture.picture.present? %>
          <div class="dropdown">
                  <%= link_to "#", class: "prof-dropdown" , data: {:toggle => "dropdown"}, role: "button", aria: {:expanded => "false"} do %>
                   <%= image_tag @user.picture.picture.url, class: "prof-default img-responsive" %>
               <% end %>
               <% if current_user == @user %>
                  <ul class="dropdown-menu">
                     <li><a id="score-prof-upload">Upload</a></li>
                     <li role="separator" class="divider"></li>
                     <li> <%= link_to "Remove", [@pictureable, @picture], method: :delete, data: {confirm: "Are you sure you want to delete your picture?"} %></li>
                     <li role="separator" class="divider"></li>
                     <li><a id="stub-dropdown"> Cancel</a></li>
                  </ul>
               <% end %>
            </div>
         <% else %>
          <div class="dropdown">
               <%= link_to "#", class: "prof-dropdown" , data: {:toggle => "dropdown"}, role: "button", aria: {:expanded => "false"} do %>
                   <%= image_tag "blank-prof.jpg", class: "prof-default img-responsive" %>
               <% end %>
               <% if current_user == @user %>
               <ul class="dropdown-menu">
                  <li><a id="score-prof-upload">Upload</a> </li>
                  <li role="separator" class="divider"></li>
                  <li><a id="stub-dropdown"> Cancel</a></li>
               </ul>
               <% end %>
            </div>
         <% end %>
    </div>
    <div class="col-xs-6 col-sm-9 col-md-9 col-lg-9">
        <% if current_user != @user %>
          <%= link_to "Send Message", new_user_conversation_path(@user), class: "btn btn-primary pull-right" %>
        <% end %>
    </div>
</div>

<div class="empty-div">
    <!--this div is only for extra room for the dropdownmenu-->
</div>

<%= render "pictures/uploadphoto" %>


     

     











