<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
  <h2 style="color: #efefef; background-color: #4878AB; text-align: center; padding: 1%;">
    Scorecliq
  </h2>

  <h4> Hello, you have been invited by <%= @scoreboard.user.name %> to join the following league on Scorecliq:</h4>
  <p>League Page: <%= @scoreboard.name_of_scoreboard %> </p>
  <p>Organization: <%= @scoreboard.name_of_organization %> </p>
  <p>Sport: <%= @scoreboard.name_of_activity %> </p>
  
  
  <p>
      If you have not signed up, please sign up and click on the link to view the league profile page. 
  <p>
  <p>
      <%= link_to "View scoreboard", scoreboard_url(@scoreboard) %>
  </p>
  
  <div style="margin-top: 10px; border-bottom: solid 1px; content: "";"> </div>
  
  <h5>scorecliq.com</h5>
  <h5>Support: support@scorecliq.com</h5>
  <p>Please do not reply to this email. Contact support if need of further assistance. </p>
  
</body>
</html>

