<p>Logo</p>
<p><%= @scoreboard.name_of_scoreboard %> </p>
<p>You have been invited to view the following scoreboard, 
scoreboad name: <%= @scoreboard.name_of_scoreboard %>
scoreboard organization: <%= @scoreboard.name_of_organization %>
sport: <%= @scoreboard.name_of_activity %></p>

Please sign in to view the scoreboard by clicking on this link. <%= link_to "View scoreboard", scoreboard_path(@scoreboard) %>


