     
    <% @schedules.each do |schedule| %>
      <div class ="schedule-list" id="schedule_<%=schedule.id%>">
         <div class="sched-box-1">
            <div class="sched-team1"> <%=schedule.team1 %> </div>
            <div class="sched-vs"> vs </div>
            <div class="sched-team2"> <%=schedule.team2 %></div>
            <div class="sched-date-label">Date of Match:</div>
            <div class="sched-date"> <%=schedule.match_date.strftime("%b. %-d,%Y") %></div>
            <div class="sched-time-label">Time:</div>
            <div class="sched-time"> <%=schedule.match_time %></div>
            <div class="sched-details-label"> Notes:</div>
            <div class="sched-details"> <%=schedule.detail %></div>
         </div>
    
         <div class="sched-buttons">
           <span class>
             <%= link_to "Edit", edit_scoreboard_schedule_path(@scoreboard, schedule), remote: true, class: " sched-edit btn btn-primary" %>
           </span>
      
           <span class> 
             <%= link_to "Del", [@scoreboard, schedule], remote: true, method: :delete, class: " sched-delete btn btn-primary" %>
           </span>
         </div>
      </div> 
    <% end %>

<%= will_paginate @schedules %>
