<h3 class="dash-header">
    Welcome <%= current_user.name %>!
</h3>

<div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <div class="create-league">
            <p>Are you a league/club admin looking to set up a page?</p>
            <%= link_to "Create League Page", new_scoreboard_path, class: "btn btn-primary" %>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-5">
        <div class="find-league">
            <p>Are you an individual looking to find the page for your league/club?</p>
            <%= link_to "Find Your League", search_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <div class="dash-plan">
            <h3>
                YOUR PLAN
            </h3>
            
            <div class="plan-type">
                <span class="plan-span">
                    INDIVIDUAL
                </span>
            </div>
            
            <div class="plan-upgrade">
                <%= link_to "Upgrade", user_subscription_path(current_user), class: "btn btn-primary" %>
            </div>
            
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-5">
        <div class="dash-share">
            <h3>
                FOLLOW SCORECLIQ
            </h3>
            
            <div class="share-icons">
                <%= link_to "#" do %>
                    <i class="fa fa-twitter twit-share" aria-hidden="true"></i>
                <% end %>
                
                <%= link_to "#" do %>
                    <i class="fa fa-facebook-official  fb-share" aria-hidden="true"></i>
                <% end %>
                
                <%= link_to "#" do %>
                    <i class="fa fa-google-plus-square gplus-share" aria-hidden="true"></i>
                <% end %>
                
            </div>
        </div>
    </div>
</div>