<section class="home-img">
    <div class="container-fluid">
        <% flash.each do |message_type,  message| %>
               <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        
        <div class="row home-header">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 sub-content">
                Scorecliq is a nice solution to all your problems in life. Don't
                see that guru but instead use our solution. Some more meaningless
                text to make it better.<br>
                <a>
                    <i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="how-it-works">
    <div class="container-fluid">
        <h2 class="work-head">
            How Does Scorecliq work? 
        </h2>
        
        <div class="row">
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="thumbnail">
                      <%= image_tag "share-pic.jpg", class: "img-responsive" %>
                </div>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-6  how-text">
                Hey this is some generic stuff you have to do. Make an account and you may sign up for an account
                like this. but not too sure about it. I am not either but sometimes I want to be. Is this a worrying trend?
                Yea perhaps I am running out of shit to put on here. 
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-8 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-4  how-text">
                Hey this is some generic stuff you have to do. Make an account and you may sign up for an account
                like this. but not too sure about it. I am not either but sometimes I want to be. Is this a worrying trend?
                Yea perhaps I am running out of shit to put on here. 
            </div>
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="thumbnail">
                      <%= image_tag "share-pic.jpg", class: "img-responsive" %>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-4 col-sm-3 col-md-2">
                <div class="thumbnail">
                      <%= image_tag "share-pic.jpg", class: "img-responsive" %>
                </div>
            </div>
            <div class="col-xs-8 col-sm-6 col-md-6  how-text">
                Hey this is some generic stuff you have to do. Make an account and you may sign up for an account
                like this. but not too sure about it. I am not either but sometimes I want to be. Is this a worrying trend?
                Yea perhaps I am running out of shit to put on here. 
            </div>
        </div>
        
    </div>
</section>

<section class="features">
    <div class="container-fluid">
        <h2 class="feature-head">
             Check Out Our Features!
        </h2>
        
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 feature-column">
                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                <h3>Swag Plus</h3>
                <p>We do a lot of swag things. Here is an example
                of this swag thing. I do it quite a bit. Are you sure
                though? Yes 100%.</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 feature-column">
                 <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                <h3>Swag Plus</h3>
                <p>We do a lot of swag things. Here is an example
                of this swag thing. I do it quite a bit. Are you sure
                though? Yes 100%.</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 feature-column">
                 <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                <h3>Swag Plus</h3>
                <p>We do a lot of swag things. Here is an example
                of this swag thing. I do it quite a bit. Are you sure
                though? Yes 100%.</p>
            </div>
       
        
            <div class="col-xs-6 col-sm-4 col-md-4 feature-column">
                 <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                <h3>Swag Plus</h3>
                <p>We do a lot of swag things. Here is an example
                of this swag thing. I do it quite a bit. Are you sure
                though? Yes 100%.</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 feature-column">
                 <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                <h3>Swag Plus</h3>
                <p>We do a lot of swag things. Here is an example
                of this swag thing. I do it quite a bit. Are you sure
                though? Yes 100%.</p>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 feature-column">
                 <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                <h3>Swag Plus</h3>
                <p>We do a lot of swag things. Here is an example
                of this swag thing. I do it quite a bit. Are you sure
                though? Yes 100%.</p>
            </div>
        </div>
    </div>
</section>



<div class="row">
    <%= render 'sessions/loginform' %>
</div>