
<% provide(:title, "Dashboard") %>

<section class="post-login-option">
    <div class="row">
        <div class="col span-1-of-3 view-home">
            <%= image_tag("my-img.jpg", class: "view-score") %>
            <%= link_to "View Your Scoreboards", scoreboards_path , class: 'btn btn-full' %>

        </div>
        
        <div class="col span-1-of-3 create-home">
            <%= image_tag("create-img.jpg", class: "create-score") %>
            <%= link_to "Create New Scoreboard", new_scoreboard_path , class:"btn btn-full"%>

        </div>
        
        <div class="col span-1-of-3 search-home">
            <%= image_tag("search-img.jpg", class: "search-score") %>
            <%= link_to "Search For Scoreboards",search_path , class:"btn btn-full"%>

            
        </div>
    </div>
</section>