<!--this page has the same css as the new page because it is the exact same -->
<h2 class="new-events-header">
    <%= link_to scoreboard_events_path(@scoreboard) do %>
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
    <% end %>
    EDIT EVENT
</h2>

<div class="row">
  <%= form_for [@scoreboard, @event],remote: true, html: { :autocomplete => "off"} do |f| %>
  <div class= "col-xs-12 col-sm-6  event-form">
    <div class="form-group">
       <%= f.label :event_name %>
       <%= f.text_field :event_name,maxlength: 50, class: "form-control"  %>
    </div>
    
    <div class="form-group">
      <%= f.label :Select_Date_of_Event %>
      <%= f.text_field :event_date, id: 'event-edit', class: "form-control" %>
    </div>
    
    <h4 class="event-optional"> Optional Info</h4>
    
     <div class="form-group">
      <%= f.label :Location_of_Event %>
      <%= f.text_field :location, maxlength: 50, class: "form-control" %>
    </div>
    
    <div class="form-group event-time-select">
      <%= f.label :Select_Time_of_Event %> <br>
      <%= f.time_select :event_time, {prompt: {hour: 'Choose hour', minute: 'Choose minute'}, minute_step: 5} %>
    </div>
    
    <div class="form-group">
        <%= f.label :notes %>
        <%= f.text_field :notes,maxlength: 100, class: "form-control" %>
    </div>
    
   
    
    <%= f.submit "Create Event", :data => {:disable_with => "Updating Event..."}, class: "btn btn-primary" %>
  </div>
  <% end %>
</div>

<%= render 'shared/error_modal' %>