<p>events index page</p>
<%= link_to "create events", new_scoreboard_event_path(@scoreboard, @event) %>

<div>
    
<% @events.each do |swaggin| %>
  <div> <%= swaggin.event_name %>
   <%= swaggin.event_date %>
   <%= swaggin.event_time %> 
   <%= swaggin.notes %>
   <%= link_to "delete", scoreboard_event_path(@scoreboard, swaggin), method: :delete, confirm: {data: "are you sure"} %>
   </div>
<% end %>

</div>