<h2 class="new-events-header">
    <%= link_to scoreboard_events_path(@scoreboard) do %>
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
    <% end %>
    CREATE NEW EVENT
</h2>

<div class="row">
  <%= form_for [@scoreboard, @event], remote: true, html: {id: "new-match-entry"} do |f| %>
  <div class= "col-xs-12 col-sm-6  event-form">
    <div class="form-group">
       <%= f.label :event_name %>
       <%= f.text_field :event_name, class: "form-control"  %>
    </div>
    
    <div class="form-group">
      <%= f.label :Select_Date_of_Event %>
      <%= f.text_field :event_date, id: "event-datepicker", class: "form-control" %>
    </div>
    
    <h4 class="event-optional"> Optional Info</h4>
    
     <div class="form-group">
      <%= f.label :Location_of_Event %>
      <%= f.text_field :location,maxlength: 40, class: "form-control" %>
    </div>
    
    <div class="form-group event-time-select">
      <%= f.label :Select_Time_of_Event %> <br>
      <%= f.time_select :event_time, {prompt: {hour: 'Choose hour', minute: 'Choose minute'}, minute_step: 5} %>
    </div>
    
   
    
    <%= f.submit "Create", :data => {:disable_with => "Creating..."}, class: "btn btn-primary" %>
  </div>
  <% end %>
</div>

         
    
          
         <%= form_for [@scoreboard, @event] do |f| %>
         
         <%= render 'shared/error_messages', object: f.object %>
        

              
    
              
        <%= f.label :event_time %>
        <%= f.time_select :event_time, class: "form-control" %>
        
        <%= f.label :notes %>
        <%= f.text_field :notes, class: "form-control" %>
    
         
         <%= f.submit "Create", :data => {:disable_with => "Creating Event..."}, class: "btn btn-primary" %>
         
         <% end %>
