<% provide(:title, "Invite") %>

<h2 class="longer-header">
    <%= link_to scoreboard_path(@scoreboard) do %>
     <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
     <% end %>
    Invitation for <%= @scoreboard.name_of_scoreboard %>
</h2>

<div class="row">
    <div class="col-xs-12 default-div">
        Invitation may be sent out to potential league members or other personnel. You may send up to 
        10 emails at a time. Simply fill out as many emails as you'd like, and a link will be mailed to 
        those emails leading to your league profile page. 
    </div>
</div>


<div class="row invite-form">
    <div class= "col-xs-12 col-sm-6 col-md-6">
    <%= form_for (@invitation) do |f|  %> 
    <%= hidden_field_tag :scoreboard_id, @scoreboard.id %>
    <% @invitations.each do |invite| %>
    <%= fields_for "invites[]", invite do |i| %>
    <%= i.text_field :recipient_email, class:"form-control invite-field", placeholder: "Email Field" %>
    <% end %>
    <% end %>
 
    <%= f.submit "Send Invitation", class: "btn btn-primary form-control" %>
    <% end %>
  </div>
</div>



