<h2 class="team-matches-header">TEAM MATCHES</h2>

<% if manager_or_owner?(@scoreboard, current_user) %> 
   <%= link_to "Add Matches", new_scoreboard_team_match_path(@scoreboard), class: "btn btn-primary" %>
   
   <%= link_to "Clear Matches", deletematches_scoreboard_path(@scoreboard),method: :delete, class: "btn btn-danger", :data => {:confirm => "Are you absolutely sure you want to delete all matches?"} %>
<% end %>


<%= form_tag(scoreboard_team_matches_path, :method => "get", id: "match-search-form", autocomplete: "off") do %>
   <div class="row match-selection-field">
       <div class="col-xs-8 col-sm-4 team-dropdown">
           <%= select_tag :selected_team, options_from_collection_for_select(@teams, :id, :name), prompt: "#{@selection}", class:"form-control" %>
       </div>
       <div class="col-xs-4 col-sm-2 team-filter-btn">
          <%= submit_tag 'Filter', class: "btn btn-primary" %>
       </div>
   </div>
<% end %>


<div class="match-list">
   <% if @matches.any? %>
      <%= render 'match_list' %>
   <% elsif manager_or_owner?(@scoreboard, current_user)%>
      <div class="default-div">
          There are no matches to show currently. If you have teams already created on the 
          "Teams" page, you can create matches amongst the teams using the "Add Matches" button. 
      </div>
   <% else %>
       <div class="default-div">
          There are no matches available to be shown.  
      </div>
   <% end %>
</div>
