<h2 class="team-matches-header">TEAM MATCHES</h2>

<% if manager_or_owner?(@scoreboard, current_user) %> 
   <%= link_to "Add Matches", new_scoreboard_team_match_path(@scoreboard), class: "btn btn-primary" %>
   
   <%= link_to "Clear Matches", deletematches_scoreboard_path(@scoreboard),method: :delete, class: "btn btn-danger", :data => {:confirm => "Are you absolutely sure you want to delete all matches?"} %>
<% end %>


<%= form_tag(scoreboard_team_matches_path, :method => "get", id: "match-search-form", autocomplete: "off") do %>
   <div class="row new-member-field">
       <div class="col-xs-12 col-sm-6">
           <%= select_tag "teams", options_from_collection_for_select(@teams, "id", "name"), prompt: "Select something", class:"form-control" %>
           <%= submit_tag 'Filter' %>
       </div>
   </div>
<% end %>


<div class="match-list">
   <%= render 'match_list' %>
</div>
