<div class="score-contain">
      <h1 class="score-header-form"></h1>
      <div class="score-form">
         
        <h2>Create New Category</h2>
          
         <%= form_for [@scoreboard, @category] do |f| %>
         
         <%= render 'shared/error_messages', object: f.object %>
        
         <%= f.label :name %>
         <%= f.text_field :name, class: "form-control"  %>
              
         <%= f.submit "Create", :data => {:disable_with => "Creating Event..."}, class: "btn btn-primary" %>
         
         <% end %>
    
      </div>
  </div>
</div>