<% provide(:title, "Documents") %>
<h2 class="longer-header">
    <%= link_to scoreboard_categories_path(@scoreboard) do %>
        <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
    <% end %>
    <%= @category.name %>
    </h2>
<% if manager_or_owner?(@scoreboard, current_user) %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#documentmodal">Upload Document</button>
<% end %>

<div class="document-list">
    <% if @documents.any? %>
       <%= render @documents %>
    <% elsif manager_or_owner?(@scoreboard, current_user)%>
      <div class="default-div">
          No documents have been added to "<%= @category.name %>". Please use the "Upload Document" button 
          to upload documents to this category. 
      </div>
   <% else %>
       <div class="default-div">
          No documents have been uploaded to <%= @category.name %>.  
      </div>
   <% end %>
</div>
<% if manager_or_owner?(@scoreboard, current_user) %>
   <%= render 'documents/documentform' %>
<% end %>