
  <header>
   <% if logged_in? %>
    <nav>
        <div class= "row">
            <%= link_to "scorecliq", root_path, id:"logo" %>
            
            <ul class= "main-nav">
                 <li><%= link_to "Home", home_path %> </li>
                 <li><%= link_to " Profile", current_user %></li>
                 <li><%= link_to "Search", search_path %></li>
                 <li><%= link_to 'Your Conversations', conversations_path %></li>
                 <li class="dropdown">
                      <a href="#">
                      Account <b class="caret"></b> 
                      </a>
                      <ul>
                         <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                         <li><%= link_to "Log-out", logout_path, method: 'delete'%></li>
                      </ul>
                 </li>
             </ul>
             
             <a class="mobile-nav-icon"> <i class="fa fa-bars fa-2x"></i></a>
        </div>
    </nav>
  
   <% else %>
   
    
      <div class="row">
            <nav>
                <%= link_to "scorecliq", root_path, id:"logo" %>
                <ul class= "main-nav">
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Sign-Up", signup_path %></li>
                </ul>
                <a class="mobile-nav-icon"> <i class="fa fa-bars fa-2x"></i></a>
            </nav>
      </div>
    
    
   <% end %>
  </header>

           
              
              
      